<table border=1 style="margin-left: 2em">
	<tr>
		<th>Time Created</th>
		<th>Task State</th>
		<th>Task Owner</th>
		<th>Proposal Link</th>
		<% if controller.controller_name == "organizations" %>
			<th>Edit</th>
		<% end %>
	</tr>
<% tasks.each do |t| %>
	<tr>
		<td>
		<%= t.created_at %>
		</td>
		<td>
			<%= t.aasm_current_state %>
		</td>
		<td>
			<%= Organization.find(t.workbench.id).name %>
		</td>
		<td>
			<%= link_to "Proposal #{t.workitem.title}", :controller => "proposals", :action => "show", :id => t.workitem %>
		</td>
		<% if controller.controller_name == "organizations" %>
		<td>
			<%= link_to "Edit Task", :controller => "organizations", :action => "edit_task", :id => t %>
		</td>
		<% end %>
	</tr>
<% end %>
</table>
